:root {
    --blue: rgba(54, 104, 255, 1);
    --hoverBlue: rgba(54, 104, 255, .7);
    --darkblue: rgb(9, 21, 255);
}
* {
    box-sizing: border-box;
    line-height: 1.3;
    font-family: 'Patua One', cursive;
    
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 4em 2em;
    color: var(--blue);
    font-size: 20px;
}
.quiz-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    flex-direction:row
}
.incorrect {
    
    
}
.quiz-text {
 width: 50%;
 
}

.btn {
    background-color: var(--darkblue);
    /* width: 33%;
    height: 3em; */
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 0.2em 1em;
}
.question-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: left;

}
.question-text span {
    display: flex;
    background-color: var(--blue);
    margin: 0.4em 0;
    padding: 0.5em ;
    width: 50%;
    
}
.question-text span:hover {
    background-color: var(--hoverBlue);
}

.incorrect {
    color: gray;
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    width: 30%;
    margin: auto auto;
}