:root {
    --blue: rgba(54, 104, 255, 1);
    --hoverBlue: rgba(54, 104, 255, .7);
    --darkblue: rgb(9, 21, 255);
}
* {
    box-sizing: border-box;
    line-height: 1.3;
    font-family: 'Patua One', cursive;
    
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 4em 2em;
    color: var(--blue);
    font-size: 20px;
}
.quiz-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    flex-direction:row;
    
}
/* .incorrect {
    
    
} */
.quiz-text {
 width: 50%;
 
}

.btn {
    background-color: var(--darkblue);
    /* width: 33%;
    height: 3em; */
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 0.2em 1em;
}
.question-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: left;

}

.question-text span:hover {
    background-color: var(--hoverBlue);
}


.response-buttons {
    width: 100%;
}
.response {
    color: whitesmoke;
    width: 100%;
    display: flex;
    background-color: var(--blue);
    margin: 0.4em 0;
    padding: 0.7em 1em ;
    flex-basis: 0;
}
.high-scores {
    display: none;
}
.score-div {
    display: flex;
    align-items: center;

}
.score-div input {
    height: min-content;
    margin-right: 0.5em;
    border: 2px solid rgba(54, 104, 255, .7);
    border-radius: 5px;
}
.score-div p {
    margin-bottom: 0;
}
.submit-button{
    background-color: var(--darkblue);
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 0.2em 1em;
}
.question-text {
    display: none;
}
.leaderboard {
    display: none;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;

}
.users {
    background-color: var(--darkblue);
    
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 0.2em 1em;
}